body{
    background-color: #9DA2AB;
    font-family: Microsoft JhengHei UI;
    color: #423F47;
    font-size: 18px;
}
.naslov{
    font-size: 35px;
    padding: 10px;
    border-bottom: 2px solid #423F47;
    margin-top: 5%;
    margin-left: 25%;
}

.labela {
    color: white;
    font-size: 20px;
}
.labela2 {
    color: #9DA2AB;
    font-size: 16px;
}

.polja{
    background-color: #B1B7BB;
    font-size: 16px;
    width: 100%;
    margin-bottom: 7%;
    box-shadow: 0px 5px 5px 1px #83878e;
    padding: 5px;
}

.loginForm{
    width: 30% !important;
    padding-top: 10%;
}

.loginButton{
    padding: 10px 30px 10px 30px;
    background-color: #423F47;
    color: white;
    margin-top: 5%;
    font-size: 18px;
}

.saveChangesButton{
    padding-left: 30px;
    padding-right: 50px;
    background-color: #423F47;
    color: white;
    margin-top: 5%;
    font-size: 18px;
}

.login_wrapper{
}

.center{
    width: 50%;
    margin: 0 auto;
}

a:link{
    color: #423F47;
}

a:visited {
    color: #423F47;
}

.logo{
    width: 200px;
    height: 150px;
    margin-top: 35px;
    text-align: center;
    display: inline-block;
}
.userMenu{
    margin-top: 25px;
    margin-right:80px;
    height: 150px;
    display: inline-block;
    float:right;
}
.userName{
    display: inline-block;
}
.avatar{
    margin-left: 50px;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: #423F47;
    height: 100px;
    width: 100px;
    display: inline-block;
}
.reg_link{
    float: right;
    padding: 20px 0 20px 0;
}

.errorMsg{
    color: red;
    margin-top: 3%;
    width: 60%;
}

.header{
    width:100%;
    border-bottom: 3px solid #423F47;
    height: 150px;
}
.sidebar{
    height:120vh;
    background-color: #423F47;
    width:200px;
    display: inline-block;
    padding: 0px;
}
.sidebar-nav{
    padding: 0px;
    height: 100px;
    width: 200px;
    padding-top: 20px;
}
.sidebar a{
    margin: 0px;
    padding: 0px;
    display:block;
    height: 45px;
    font-size: 24px;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}
.content{
    margin:0px;
    padding:0px;
    width: 85%;
    display: inline-block;
}
.sidebar a:active{
    background-color: #95989A;
}
.sidebar a:hover{
    background-color: #95989A;
}
.page{
    background-color: #FFFFFF;
    min-height: 800px;
}
.page-title{
    text-align: center;
    color: #95989A;
}
.group{
    padding-top: 10px;
    padding-bottom: 10px;
}
.indexer{
    padding-top: 23px;
    text-align: center;
    color: #95989A;
}
.container{
    width:100%;
    margin:0px;
    padding:0px;
    
}
.formselect{
    height:35px;
    margin-top:-5px;
}
.formbutton{
    background-color: #423F47;
    border-width:0px;
    color:white;
    height:60px;
}
.sidebar-tsk {
    margin: 0px;
    padding: 0px;
    display:block;
    height:105vh;
    background-color: #b5aea3; 
    font-size: 15px;
    border-color: #888a85;
    text-align: center;
    border-left: 3px solid #56452C;
    text-align: left;
    text-decoration: none;
}
.sidebar-tsk a:active{
    background-color: #95989A;
}
.sidebar-tsk a:hover {
    
}
.task_li{
    border-bottom: 1px solid whitesmoke;
}
.task_li:hover{
    background-color: white;
}
.tasks_ul{
    list-style-type: none;
    padding-left: 0;
}
.hidden{
    display:none;
}
.descriptionBox{
    border-color:black;
    border-width:1px;
    color: #423F47;
    height: 200px;
    border-style:solid;
    padding:15px;
}
.positive{
    color:lime;
}
.negative{
    color:red;
}
.tabela{
    color:#423F47;
    border:1px solid #dddddd;
}
.tabela td{
    text-align: center;
    border:1px solid #dddddd;
}
.tabela th{
    background-color: #423F47;
    color:white;
    text-align: center;
}
.userOptions{
    position: absolute;
    background-color: #423F47;
    min-height: 50px;
    width: 150px;
    text-align: center;
    display: inline-block;
    right: 55px;
    top:130px;
}
.userOption{
    color:white !important;
    text-decoration: none;
}
.userOption:hover{
    background-color: white;
    color:#423F47 !important;
    text-decoration: none;
}